import React from 'react';
import PropTypes from 'prop-types';

import './{{pascalCase name}}.scss';

export default function {{pascalCase name}}(props) {
  return (
    <div className="{{dashCase name}}"></div>
  );
}

{{pascalCase name}}.propTypes = {
};

