{
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            '**/*spec.*',
            '**/*page-object*',
            '**/*stories*',
            '**/index*',
            '**/PageObject*'
          ]
        }]
      ]
    }
  }
}
