/* BundleLoadError */
@import 'theme';

.bundle-load-error {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: size(m);
  text-align: center;

  .title {
    margin-top: 20%;
  }

  .loader-component {
    flex-grow: 1;
  }

  .loader {
    top: 30%;
    min-width: 130px;
    min-height: 130px;
  }
}
