@import 'theme';

@import 'font-faces';
@import 'default-element-styles';

body {
  margin: 0;
  font-family: font-family(body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
